.allergen {
	color: rgba(red, 0.6);
	width: 30vw;
	height: 30vw;
	font-family: arial;
	border-radius: 4px;
	font-size: 1.6em;
}

$allergen-list: eggs peanuts shellfish strawberries tomatoes chocolate pollen cats;

@each $allergen in $allergen-list { 
	.#{$allergen} {
		background-image: url('images/#{$allergen}.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.allergy-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}