<h3>Use the form to input your allergy score and receive the list of your allergens</h3>
<form action="/allergy-list" method="get">
	<label for="score">input your allergy score</label>
	<input id="score" name="score"  >
	<button type="submit">Submit</button>
</form>